* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: rgba(0, 128, 128, 0.8);
    color: #fff;
    padding: 1px 0;
    border-radius: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #CC7722;
}


body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/oatmealenh.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section {
    flex-basis: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blueberries {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/close-up-background-of-blue-toned-fresh-blueberry-royalty-free-image-1624990292.jpg); /* Adjust transparency here */
}

.strawberries {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/Basically-Strawberry-Shortcake-Strawberries.webp); /* Adjust transparency here */
}

.apples {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(images/2021-09-23-apples-pexels.jpg); /* Adjust transparency here */
}

.col {
    flex-basis: calc(100% / 3);
    padding: 0 20px;
}

h2 {
    color: #CC7722;
    font-size: 27px;
    margin-bottom: 15px;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: #f8f9fa;
}

table th {
    font-weight: bold;
    background-color: #e9ecef;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 23px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.description {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #175d6f;
    margin-bottom: 20px;
    margin-top: 10px;
}

.more-text {
    display: none;
}

.read-more-btn {
    background-color: #CC7722;
    color: #fff;
    
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}



