body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../tuna.jpg);
    background-size: cover;
    background-attachment: fixed;
}
nav {
    background-color: rgba(51, 51, 51, 0.5); /* Set background color with some transparency */
    backdrop-filter: blur(10px); /* Apply blur effect */
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 30px;
    margin-left: 738px;
}

  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 8px;
}
  
nav ul li a:hover {
    background-color: #111;
}
.container{
    font-size: 32px;
    color: #f9d7ff;
}
video{
    width: 785px;
    margin-left: 1106px;
    margin-top: -498px;
    border-radius: 87px;
}